.bottom-tabbar {
  position: fixed;
  bottom: 0;
  left: 0rpx;
  right: 0rpx;
  height: 8.5vh;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2rpx 8rpx rgba(0, 0, 0, 0.05);
  z-index: 100;
}

.tab-item {
  flex: 1;
  text-align: center;
  font-size: 26rpx;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.home_plus,
.mine_plus {
  height: 100rpx;
  line-height: 100rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus {
  font-size: 45rpx;
  color: #fff;
  background-color: #ff2c55;
  width: 45rpx;
  height: 60rpx;
  line-height: 60rpx;
  border-radius: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10rpx;
  transition: transform 0.3s ease-in-out;
}

.plus:hover {
  transform: scale(1.2);
}

.tab-item.active {
  color: #ff2c55;
  transform: scale(1.4);
}
